---
import { getCollection, type CollectionEntry } from "astro:content";

function formatDate(dateObj: Date): string {
  const options: Intl.DateTimeFormatOptions = { day: 'numeric', month: 'short', year: 'numeric' };
  return dateObj.toLocaleDateString('es-MX', options);
}

const blogEntries: CollectionEntry<"posts">[] = await getCollection("posts");
blogEntries.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime());
---

<div class="row">
  {blogEntries.slice(0, 3).map((b) => (
    <div class="col-md-4 col-sm-6 col-12 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <div class="text-center">
            <h6 class="mb-0 fs-sm text-primary">Escrito por: {b.data.author}</h6>
            <span class="text-muted fs-sm">Publicado el: {formatDate(b.data.createdAt)}</span>
          </div>
        </div>
        <img src={b.data.image} class="card-img-top" style="height: 150px; object-fit: cover;" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{b.data.title}</h5>
          <p class="card-text">{b.data.description}</p>
          <a href={`/blog/${b.slug}`} class="btn btn-primary mt-auto">Leer más</a>
        </div>
      </div>
    </div>
  ))}
</div>

<style>
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 15px;
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Sombra más suave */
    overflow: hidden; /* Para evitar que el contenido sobresalga */
    border: none;
  }

  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el mouse */
  }

  .card-body {
    min-height: 150px; /* Ajusta según el tamaño deseado */
  }

  .btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: linear-gradient(45deg, #007bff, #0056b3); /* Degradado para el botón */
    border: none; /* Sin borde */
    color: white;
  }

  .btn:hover {
    transform: scale(1.05) rotate(-2deg);
    color: white;
  }

  @media (max-width: 576px) {
    .col-12 {
      justify-content: center;
      margin-left: 9px;
    }
  }
</style>
