---
const {title, text, image, name, date, letra, url} = Astro.props
---

  <div class="card mx-3" style="width: 18rem;">
    <div class="card-header d-flex align-items-center">
      <span class="avatar text-bg-primary avatar-lg fs-5">{letra}</span>
      <div class="ms-3">
        <h6 class="mb-0 fs-sm">{name}</h6>
        <span class="text-muted fs-sm">{date}</span>
      </div>
      <div class="dropstart ms-auto">
        <button class="btn text-muted" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </button>
      </div>
    </div>
    <img src={image} class="card-img-top"/>
    <div class="card-body">
      <h3><b>{title}</b></h3>
      <p class="card-text">
      {text}
      </p>
    </div>
    <div class="card-footer d-flex">
      <a href={url} class="btn btn-link">Leer más</a>
    </div>
  </div>
